/* Full page styles below*/ 




/* header styles below*/

header h1{
    color: #E63946; 
    margin-top: 15px;
    margin-left: -20px
}

header h3{
    color: #1D3557;
    margin-left: 180px;
    margin-top: -47px 
}

header h4{
    margin-top: 7%;
    margin-bottom:px;
    text-align:center;
    color: dimgray;

    
}

header{
   width: 90%;
   height: 60px;
   font-size:10; 
   background-color: #ffe3e6;
   border-radius: 5px 50px;
   padding-top: 2px;
   padding-left: 50px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin: auto;
   margin-bottom: 10%;
   margin-top: 3%

   



}

/* Nav bar styles below */

nav h3{
    color:#1D3557;
}

nav span{
    font-size: 50px;
    color:#E63946;
    background-color: #ffe3e6;
    margin: 100px;
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
}

nav span:hover{
    color:#1D3557;
    background-color: rgb(230, 243, 255)
    
    
}

/* page content styles below*/

.club_info {
    background-color:rgb(230, 243, 255);
    margin:20px;
    padding: 10px;
    border-radius: 10px;
}

div#page-content section:first-child{
    margin-top:50px;
}

li{
    font-family:sans-serif;
    margin: 5px;
}

.info_tag{
    font-weight: bold;
}

section.club_info h2:first-child {
    color: #E63946
}
